<h1>CHAT</h1>
    <h2>Log-in</h2>
    <input type="text" name="" id="nickName">
    <p id="name"></p>
    <h2>message</h2>
    
    {{!-- submit --}}
        <input type="text" name="" id="texto">
    {{!-- //contenedor --}}
    <div  id="Contenedor-de-msg">
        <p class="chatSocketM" id="PMessages"></p>
    </div>
    
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>