<h1 style="margin: auto;" >Documents</h1>
<form id="LoginForm" style="width: 500px;" class="LogIn" enctype="multipart/form-data" action="/api/session/documents" method="post">
        <input type="file" name='identification' id="img">

        <input type="file" name='comprobant_domic' id="img1">

        <input type="file" name='Comprobant_de_estado' id="img2">

        <button id="LogIn" class="SubmitAcceder" type="submit">enviar</button>
        </form>
    
</div>