<h1 style="margin: auto;" >Cambiar contraseña</h1>
<form id="LoginForm" style="width: 500px;" class="LogIn" action="/api/session/forgotten_password" method="post">
        
        <input id="email" type="text" name="email"  placeholder="Email">
        
        <button id="LogIn" class="SubmitAcceder" type="submit">enviar</button>
    </form>
    
</div>